img {
    width: 100vw;
    height: 550px;
    object-fit: cover; 
    z-index: 0;
    opacity: 0.8;
}


h3{
    color: rgb(180, 0, 162);
}

p{
    color: blue;
}

@media (max-width: 768px) {
    img {
        width: 100vw;
        height: 250px;
        object-fit: cover;
    }
}





.carousel-caption h3 {
    color: #000000; 
    font-weight: bold;
}

.carousel-caption p {
    color: #00a3c0;
    font-size: 1rem;
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 200px;
    background: linear-gradient(45deg, black, transparent);
}