*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aquamarine;
}

body{
    background: #000000bc;
}

#Div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #000000;
}

button{
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #003853;
    outline: none;
    scale: 1.1;
    font-size: 20px;
     cursor: pointer;
}

button:active{
    scale: 1;
    background-color: #002132;
    transition: all 0.5s;
}

input{
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #003853;
    outline: none;
    scale: 1.1;
    font-size: 20px;
    margin: 20px;
}