body{
    background-color: rgba(230, 0, 255, 0.137);
}


#nav{
    position: relative;
    left: -10vw;
}


#CardsDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

#card{
    margin: 40px;
    height: 450px;
}

#card img{
    height: 250px;
}

