body{
    background: linear-gradient(45deg , rgb(238, 238, 238), rgb(255, 255, 255));
    width: 100vw;
    height: 100vh;
    color: azure;
}


.red{
    color: rgb(255, 255, 255);
}
h1{
    color: aliceblue;
}

button{
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 25px;
    background: #ba0000ed;
    color: antiquewhite;
    font-size: 30px;
}

.Container{
    width: 300px;
    border: 1px solid red;
}