*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg , rgb(99, 0, 86) ,rgb(8, 8, 95));
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(0, 104, 104);
    text-shadow: 1px 1px 2px rgb(89, 0, 255);
}
h1{
    color: #008854;
}